<form class="container" [formGroup] = "form">

  <h1>Base Converter</h1>
  <input type="text" name="decimal" (ngModelChange)= "decimalChanged(oldValue, newValue= $event)"
         placeholder="decimal" formControlName="decimal">
  <br>
  <input type="text" name="binary" (ngModelChange)= "binaryChanged(oldValue, newValue= $event)"
          placeholder="binary" formControlName="binary">
  <br>
  <input type="text" name="octal" (ngModelChange)= "octalChanged(oldValue, newValue= $event)"
          placeholder="octal" formControlName="octal">
  <br>
  <input type="text" name="hexa" (ngModelChange)= "hexaChanged(oldValue, newValue= $event)"
          placeholder="hexa" formControlName="hexa">
  <br>

</form>